node_modules/
dist/
.env.local
.env.*.local
.env
coverage/
.tmp/
.cursor/
.vscode/
.DS_Store
postgres-data/
grafana-data/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk
artifacts/
*.log
